KWILD_WITHOUT_ACCOUNT_STORE=true
KWILD_WITHOUT_CHAIN_SYNCER=true
KWILD_LOG_LEVEL=info

# Admin private key MUST be set and MUST be the same account as used to create DB Schema's in the IDE
ADMIN_PRIVATE_KEY=0x
KWIL_PROVIDER_URL="http://kwil:8181"
KWIL_PROVIDER_PORT=8181
PROVIDER_ENV_FILE=provider-2.env
BUNDLR_NODE_URL=https://node2.bundlr.network
BUNDLR_NODE_CURRENCY=matic

EXTENSION_UNIQUE_ID_PORT=50051
EXTENSION_DB_EXPORT_PORT=50052
EXTENSION_DB_SYNC_PORT=50053

DB_SYNC_GRPC_URL="dns:///kwil-db-sync-2:50066"
DB_SYNC_GRPC_PORT=50066